body {
  font-family: monospace;
  font-size: 300%;
  padding: 0 0.5em;
}

div {
  border-radius: 5px;
  text-align: center;
  margin: 1em 0;
}

.header, .footer {
  background-color: lightslategray;
  margin: 0;
}

#controls {
  display: table;
  height: 3em;
  table-layout: fixed;
  width: 100%;
}

#controls div {
  background-color: lightgray;
  border: gray solid 1px;
  margin: 0;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

#controls div:active {
    background-color: darkgray;
    color: white;
}
